body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15), 0 8px 12px rgba(0, 0, 0, 0.1);
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */
.nav {
  display: flex;
  align-items: center;
  margin-right: 73px;
}
.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin-right: 237px;
  margin-left: 16px;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-link {
  display: block;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
  transition: font-weight 50ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  font-weight: 600;
}
.current {
  font-weight: 600;
}
.header-bttn-list {
  align-items: center;
  display: flex;
  gap: 21px;
}
.header-bttn {
  border-radius: 4px;
  font-size: 16px;
  min-width: 105px;
  height: 42px;
}
.sign-in-bttn {
  border: 1px solid #bcd0e5;
  color: #173a56;
  background-color: transparent;
}
.sign-up-bttn {
  max-width: 113px;
  background: #02897a;
  color: #fff;
}
/* Hero */
.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-wrap {
  width: 465px;
  justify-content: center;
}
.hero-title {
  width: 400px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}
.hero-txt {
  font-size: 18px;
  margin-bottom: 45px;
  line-height: 1.55556;
  color: #22343d;
}
.hero-bttn-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero-bttn {
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
  letter-spacing: 0.04em;
}
.start-bttn {
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.watch-bttn {
  display: flex;
  align-items: center;
  background: transparent;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
.watch-bttn img {
  margin-right: 9px;
}
/* Features */
.feature {
  padding-top: 50px;
  padding-bottom: 50px;
}
.feature .secondary-title-part {
  text-align: center;
  max-width: 539px;
  margin: 0 auto 50px;
}
.feature-list {
  display: flex;
  margin-bottom: 50px;
  gap: 30px;
}
.feature-item {
  width: calc((100% - 3 * 30px) / 4);
}
.feature-icon-box {
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #02897a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}
.feature-item:nth-child(2) .feature-icon-box {
  background: #4d8dff;
}
.feature-item:nth-child(3) .feature-icon-box {
  background: #740a76;
}
.feature-item:last-child .feature-icon-box {
  background: #f03e3d;
}
.feature-item-title {
  padding-bottom: 13px;
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
}
.feature-bttn {
  display: block;
  margin: 0 auto;
  line-height: 1.625;
  color: #fff;
  background: #02897a;
  border-radius: 4px;
  min-width: 175px;
  height: 53px;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.icon {
  fill: #ffffff;
}
/* Management */
.wrapper-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.management-box {
  width: 486px;
}
.secondary-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 25px;
}
.secondary-title-part {
  font-weight: 700;
  font-size: 32px;
}
.management-box .secondary-title {
  width: 224px;
}
.sections-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.management-item-title {
  margin-bottom: 12px;
}
/* Support Customer */
.support-box {
  width: 450px;
}
.support-box .secondary-title {
  width: 304px;
}
.support-list-item {
  display: flex;
  align-items: center;
}
.support-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  border: 2.92px solid #fff;
  border-radius: 14px;
  min-width: 35px;
  height: 35px;
  background: #f90;
}
.support-list-item:nth-child(2) .support-icon-box {
  background: #f03e3d;
}
.support-list-item:last-child .support-icon-box {
  background: #4d8dff;
}
/* Collaboration */
.collab-box {
  width: 486px;
}
.collab-box .secondary-title {
  width: 226px;
}
/* Stuff */
.staff-wrap {
  padding: 100px 0 50px;
}
.staff-wrap .secondary-title-part {
  text-align: center;
  margin-bottom: 25px;
}
.staff-txt {
  font-weight: 500;
  text-align: center;
  width: 542px;
  margin: 0 auto 40px;
}
.staff-item-txt {
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
}
.staff-container {
  max-width: 956px;
  padding: 0 20px;
  margin: 0 auto;
}
.staff-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 31px;
  column-gap: 100px;
  margin-bottom: 50px;
}
.staff-list-item {
  display: flex;
  align-items: center;
  min-width: calc((100% - 100px) / 2);
}
.staff-item-box {
  padding: 14px 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 50px;
}
.staff-avatar-box {
  border-radius: 100%;
  border: 2px solid #ff0909;
  width: 98px;
  height: 98px;
  margin: 0 20px 0 0;
  object-fit: contain;
  overflow: hidden;
}
.staff-list-item:nth-child(2) .staff-avatar-box {
  border: 2px solid #740a76;
  margin: 0 0 0 20px;
}
.staff-list-item:nth-child(3) .staff-avatar-box {
  border: 2px solid #02897a;
  margin: 0 0 0 20px;
}
.staff-list-item:last-child .staff-avatar-box {
  border: 2px solid #035b81;
  margin: 0 20px 0 0;
}
.staff-bttn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  background: #02897a;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
/* News Feed */
.feed-title {
  text-align: center;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}

.feed-txt {
  text-align: center;
  font-weight: 500;
  line-height: 1.625;
  color: #22343d;
  width: 465px;
  margin: 0 auto 40px;
}
.feed-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed-item {
  max-width: calc((100% - 2 * 30px) / 3);
  border: 1px solid #dedede;
  border-radius: 8px;
  object-fit: contain;
  transition: box-shadow 0.3s ease-in-out;
}
.feed-card-title {
  max-width: 296px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  transition: color 0.3s ease-in-out;
}
.feed-item:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}
.feed-item:hover .feed-card-title {
  color: #02897a;
}
.feed-card {
  padding: 24px 24px 40px 24px;
}
.feed-txt-by {
  line-height: 1.75;
  font-weight: 400;
  margin-bottom: 12px;
}
.feed-txt-by-part {
  font-weight: 700;
}
/* pricing */
.price-center {
  text-align: center;
  margin-bottom: 10px;
}
.price-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.price-item {
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 2 * 72px) / 3);
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 32px 72px;
  transition: box-shadow 500ms ease-in-out, background-color 500ms ease-in-out;
}
.price-item:hover {
  background-color: #02897a;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15), 0 8px 12px rgba(0, 0, 0, 0.1);
}
.price-item:hover .price-bttn {
  color: #02897a;
  background-color: #ffffff;
}
.price-item:hover .price-card-title,
.price-item:hover .price-card-descr,
.price-item:hover .price-card-item,
.price-item:hover .price-card-item,
.price-item:hover .price-currency,
.price-item:hover .price-value {
  color: #fff;
}
.price-item:hover .price-card-per {
  color: #e0e0e0;
}
.price-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  margin-bottom: 8px;
}
.price-card-descr {
  line-height: 2.5;
  margin-bottom: 16px;
}
.price-box {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.price-sub-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 7px;
}
.price-value {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.price-currency {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.price-txt {
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
  min-width: 98px;
}
.price-card-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 30px;
}
.price-card-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0.01em;
}
.price-bttn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #02897a;
  border-radius: 8px;
  padding: 11px 19px;
}
/* feedback */
.feedback-title {
  text-align: center;
  margin-bottom: 10px;
}
.feedback-txt {
  text-align: center;
  width: 537px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.feedback-list {
  display: flex;
  justify-content: space-between;
}
.feedback-item {
  width: calc((100% - 64px * 2) / 3);
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px;

  background-color: #fff;
}
.feedback-card-txt {
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin: 16px 0;
}
.feedback-box {
  display: flex;
  align-items: center;
  gap: 14px;
}
.feedback-box-avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #bdbdbd;
  background-color: transparent;
  object-fit: cover;
  overflow: hidden;
}
.feedback-card-names {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.feedback-card-names-part {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}
.feedback-name-box {
  display: flex;
  flex-direction: column;
}
/* Promo */
.promo-container {
  max-width: 968px;
  display: flex;
  border-radius: 32px;
  background: #02897a;
  margin: 0 auto;
  align-items: center;
}
.promo-box {
  display: flex;
  flex-direction: column;
  padding-left: 51px;
}
.promo-title {
  margin-top: 49px;
  width: 510px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  margin-bottom: 46px;
}
.promo-bttn {
  display: block;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  background: #fff;
  border-radius: 8px;
  padding: 10px 34px;
  max-width: 150px;
  margin-bottom: 56px;
}
.promo-img {
  height: inherit;
}
/* Footer */
.footer-box .logo {
  margin: 0;
}
.footer-box {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-bottom: 10px;
}
.footer-logo_social-box {
  display: flex;
  flex-direction: column;
  margin-right: 146px;
  gap: 18px;
}
.footer-logo-box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-nav {
  margin-right: 129px;
  min-width: 118px;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.footer-item {
  line-height: 2.1875;
}
.footer-legal {
  margin-right: 83px;
  min-width: 131px;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.footer-subscribe .footer-title {
  width: 280px;
  margin: 0;
}
.footer-form {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  outline: none;
  background-color: transparent;
  padding: 10px 42px;
  line-height: 1.75;
  color: #02897a;
}
.footer-form::placeholder {
  line-height: 1.75;
  color: #02897a;
}
.footer-form:hover,
.footer-form:focus {
  border: 1px solid #02897a;
}
.footer-form-bttn {
  display: block;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  border-radius: 4px;
  background: #02897a;
  max-width: 131px;
  max-height: 39px;
}
.footer-form-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  fill: #02897a;
  transform: translatey(-50%);
}
.footer-right {
  text-align: center;
  line-height: 1.875;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-icon-box {
  width: 40px;
  height: 40px;
}
.footer-social-icon-box:hover .footer-social-icon {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15), 0 8px 12px rgba(0, 0, 0, 0.1);
  background-color: #02897a;
  stroke: #ffffff;
}
.footer-social-icon {
  border-radius: 50%;
  background-color: #edfffc;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #02897a;
  fill: transparent;
  height: 100%;
  transition: box-shadow 550ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 50ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #region Pricing page */
/* pricing table */
.pricing-title-main {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 32px;
  text-align: center;
}
.pricing-sub-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 16px;
}
.pricing-table-txt {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 49px;
}
/* ENTERPRISE */
.wrapper-enterprise {
  padding-top: 100px;
  padding-bottom: 50px;
}
.enterprise-title-main {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}
.enterprise-secondary-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 8px;
}
.enterprise-txt {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
}
.enterprise-bttn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  padding: 11px 18px;
  background: #02897a;
  margin-bottom: 51px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* products */
.products-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-sub-container {
  display: flex;
  align-items: center;
  gap: 60px;
}
.products-container .enterprise-secondary-title {
  margin-bottom: 56px;
}
.products-box {
  width: 543px;
}
.products-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.products-item-box {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 16px;
}
.products-item-txt {
  line-height: 1.75;
}
/* FAQ */
.faq-list {
  min-width: 920px;
}
.faq-list-line {
  border: 1px solid #e7e7e7;
  width: 100%;
  height: 0;
  margin-top: 22px;
  margin-bottom: 16px;
}
.faq-det-list {
  max-width: 920px;
}
details > summary {
  list-style: none;
}
.faq-summ-txt {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  font-size: 18px;
}
details summary:before {
  content: url("../images/pricing/plus_circle.png");
  margin-right: 16px;
}
details[open] summary:before {
  content: url("../images/pricing/minus_circle.png");
}
/* #endregion Pricing page */
